<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="validateHomePage">
    <classes>
 		 <class name="learning.HomePageTest"/>
	</classes>
   </test>
 <test  name="validateLoginPage">
    <classes>
 		<class name="learning.LoginPageTest"/>
	 </classes>
  </test>
 <test name="validateForgotPasswordPage">
    <classes>
      <class name="learning.ForgotPasswordPageTest"/>
       
    </classes>
 </test> <!-- Test -->
</suite> <!-- Suite -->
